@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: auto;
    max-width: 100%;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 57px;
}
#__next {
    min-height: 100%;
    height: 100%;
}

@layer components {
    .select-primary {
        @apply m-2 my-4 w-fit rounded-md border border-black bg-slate-200 p-2 shadow-lg
    }
}
